{% extends 'base.html' %} {% block content %}

<div class="container">
	<div class="row">
		<div class="mx-auto col-5">
			<form
				action="{% url 'login' %}"
				method="post"
				class="text-center border border-primary-subtle p-4 rounded">
				{% csrf_token %}
				<div class="mb-3">
					<label for="exampleFormControlInput1" class="form-label text-celeste" style="font-weight: 600;"
						>Nombre Usuario</label
					>
					<input
						type="text"
						class="form-control"
						id="exampleFormControlInput1"
						name="username"
						required />
				</div>
				<div class="mb-3">
					<label for="exampleFormControlInput1" class="form-label text-celeste" style="font-weight: 600;"
						>Clave Usuario</label
					>
					<input
						type="password"
						class="form-control"
						id="exampleFormControlInput1"
						name="password"
						required />
				</div>

				<div>
					<button type="submit" class="btn col-12 bg-celeste text-white" >
						Iniciar Sesión
					</button>
				</div>
			</form>
		</div>
	</div>
</div>
<style>
	button:over{
		background: white !important;
		color: var(--celeste) !important;
	}
</style>
 {% endblock %}
