{% extends 'base.html' %} {% load static %} {% block h1 %}
<h1>Acerca de Nosotros</h1>
{% endblock %} {% block content %}

<div class="row mb-5">
	<section
		class="col-12 d-flex flex-column flex-lg-row justify-content-lg-evenly align-items-center">
		<div
			class="col-lg-5 col-12 text-celeste ps-lg-4 ps-2 d-flex flex-column justify-content-center"
			style="max-width: 400px">
			<h3>Nuestra Historia</h3>
			<p>
				En el corazón de Valdivia, la familia Enoch se convirtió en sinónimo de
				dulzura y tradición. Tras su llegada a comienzos del siglo pasado,
				durante la ola de inmigración alemana, establecieron una pequeña empresa
				de postres de leche que con el tiempo se transformaría en un emblema de
				la gastronomía local. 'Onlyflans', como se conocería más tarde, llevando
				consigo la herencia y el sabor de sus fundadores. Con el paso de los
				años, recientemente celebró su legado con la inauguración del Museo del
				Budín. Este lugar no solo es un homenaje a su trayectoria de 100 años,
				sino también un punto de encuentro para los amantes de la historia y la
				cultura culinaria, atrayendo a visitantes de todo el mundo ansiosos por
				descubrir los secretos de los famosos budines chilenos.
			</p>
		</div>
		<div
			class="col-12 col-lg-7 pe-2 pe-lg-4 d-flex flex-column flex-lg-row justify-content-lg-center align-items-center">
			<img
				src="{% static '/img/local-onlyflans.png' %}"
				style="max-width: 600px; width: 100%; object-fit: cover"
				alt="local-onlyflans" />
		</div>
	</section>

	<section
		id="section-mision"
		class="col-12 d-lg-flex flex-row justify-content-evenly">
		<div class="col-lg-7 col-12 ps-2 ps-lg-4">
			<img src="{% static '/img/mision.jpg' %}" alt="" />
		</div>

		<div
			class="col-lg-5 col-12 text-celeste pe-2 pe-lg-4 d-flex flex-column justify-content-center"
			style="max-width: 400px">
			<h3>Nuestra Misión</h3>
			<p>
				La misión de nuestra cafetería, ubicada en el corazón del sur de Chile,
				es ofrecer una experiencia culinaria única a través de nuestros
				exquisitos flanes. Nos dedicamos a elaborar cada flan con los más altos
				estándares de calidad, utilizando ingredientes locales y recetas
				tradicionales que reflejan la riqueza gastronómica de nuestra región.
				Nuestro compromiso es brindar un servicio excepcional, creando un
				ambiente acogedor donde cada visita se convierta en un momento memorable
				para nuestros clientes.
			</p>
		</div>
	</section>

	<section class="col-12 d-flex flex-lg-row justify-content-lg-evenly">
		<div
			class="col-lg-5 col-12 text-celeste ps-lg-4 ps-2 d-flex flex-column justify-content-center"
			style="max-width: 400px">
			<h3>Variedad de Productos</h3>
			<p>
				Nuestra selección de flanes, cafés y dulces artesanales es una verdadera
				celebración de los sabores tradicionales y la calidad superior. Cada
				flan se prepara siguiendo recetas clásicas, asegurando una textura suave
				y un sabor que simplemente se derrite en la boca. Nuestros cafés,
				seleccionados meticulosamente, ofrecen una experiencia única con cada
				sorbo, mientras que nuestros dulces artesanales son el resultado de la
				pasión y la dedicación, elaborados con ingredientes locales para
				garantizar frescura y autenticidad. Juntos, crean una oferta
				irresistible que deleita a todos los paladares.
			</p>
		</div>
		<div class="col-lg-7 col-12 pe-lg-4 pe-2">
			<img src="{% static '/img/variedades-productos.jpg'%}" alt="" />
		</div>
	</section>

	<section class="col-12 d-flex flex-lg-row justify-content-evenly">
		<div class="col-lg-7 col-12 ps-2 ps-lg-4">
			<img src="{% static '/img/nuestro-equipo.jpg' %}" alt="" />
		</div>
		<div
			class="col-5 text-celeste pe-2 pe-lg-4 d-flex flex-column justify-content-center"
			style="max-width: 400px">
			<h3>Nuestro equipo</h3>
			<p>
				Onlyflans es una cafetería única que ofrece una experiencia culinaria
				inolvidable con su especialidad en flanes, cafés y dulces artesanales.
				Cada flan es una obra de arte, elaborado con pasión y los mejores
				ingredientes locales, mientras que los cafés son seleccionados y
				tostados a la perfección para complementar la dulzura de los postres. El
				equipo de Onlyflans se dedica a crear un ambiente acogedor donde cada
				visita es una oportunidad para disfrutar de sabores auténticos y un
				servicio excepcional.
			</p>
		</div>
	</section>

	<section class="col-12 d-flex flex-lg-row justify-content-lg-evenly">
		<div
			class="col-lg-5 col-12 text-celeste ps-lg-4 ps-2 d-flex flex-column justify-content-center"
			style="max-width: 400px">
			<h3>Compromiso con la Comunidad y el Medio Ambiente</h3>
			<p>
				Onlyflans, nuestra cafetería, se destaca por su compromiso con la
				comunidad y el medio ambiente. Adoptamos prácticas sostenibles, como el
				uso de productos orgánicos y locales, reduciendo así nuestra huella de
				carbono. Además, colaboramos con proyectos comunitarios y educativos
				para fomentar la conciencia ambiental. Nuestro objetivo es no solo
				ofrecer delicias culinarias, sino también contribuir al bienestar de
				nuestro entorno y sus habitantes.
			</p>
		</div>
		<div class="col-lg-7 col-12 pe-lg-4 pe-2">
			<img
				src="{% static '/img/compromiso-comunidad.jpeg' %}"
				alt=""
				class="" />
		</div>
	</section>
</div>

<div>
	<form action=""></form>
</div>

<style>
	section {
		padding-top: 50px;
	}

	section div img {
		width: 100%;
		height: auto;
		object-fit: cover;
	}

	@media only screen and (max-width: 992px) {
		#section-mision,
		#section-varidad-productos {
			display: none;
		}
	}
</style>

{% endblock %}
