{% extends 'base.html' %} {% block content %}
<div class="container py-5">
	<h1>Gracias por contactarnos</h1>
	<p>Hemos recibido tu mensaje y nos pondremos en contacto contigo pronto.</p>
	<a href="{% url 'index' %}">
	<button
		id="back-to-home"
		type="button"
		class="btn btn-info btn-lg text-white">
		Volver al Inicio
	</button>
</a>
</div>

<style>
	.container {
		display: flex;
		flex-direction: column;
		align-items: center;
		color: var(--celeste);
	}

	#back-to-home {
		margin-block: 20px;
	}
</style>


{% endblock %}
