{% extends 'base.html' %}{% load static %} {% block h1 %}
<div>
<h1>Suscríbete</h1>
{% endblock %}

{% block h3 %}
<h3>Suscríbete a nuestras noticias y novedades. Te esperamos !</h3>

{% endblock %} {% block content %}
<link rel="stylesheet" href="{% static '/css/formulario.css' %}" />

<div class="container-form">
	<form action="{% url 'contacto' %}" method="POST">
		{% csrf_token %}
		<!-- {{form.non_fields_errors}} -->
		{{ form.as_p }}
		<button type="submit" class="btn btn-info btn-lg text-white">Enviar</button>
	</form>
</div>

<link rel="stylesheet" href="{% static '/js/formulario.js' %}" />
</div>

<style>
	input {
		width: 420px;
	}
	textarea{
		height: 150px;
	}
</style>
{% endblock %}
