{% extends 'base.html' %} 
<link rel="stylesheet" href="{% static 'css/formulario.css' %}" />

{% block content %}
<div class="container py-5 d-flex flex-column align-items-center text-celeste">
	<h1>Gracias por contactarnos</h1>
	<p>Hemos recibido tu mensaje y nos pondremos en contacto contigo pronto.</p>
	<a href="{% url 'index' %}">
	<button
		id="back-to-home"
		type="button"
		class="btn btn-info btn-lg text-white my-5">
		Volver al Inicio
	</button>
</a>
</div>

{% endblock %}
