{% load static %}

<img id="logo" src="{% static 'img\onlyflans.png' %}" alt="logo-onlyflans" />

<header class="g-0">
	<img
		id="img-header"
		src="{% static 'img\fondo-header.jpg' %}"
		alt="fondo-flan" />
</header>

<style>
	#logo {
		z-index: 1;
		position: absolute;
		width: 50%;
		height: auto;
		object-fit: cover;
		background-size: contain; /* Asegura que el logo se ajuste dentro del espacio disponible */
		background-repeat: no-repeat;
		margin-top: 0%;
		margin-left: 50%;
		transform: translate(-50%, 25%);
		
	}

	header {
		border: 3px solid var(--celeste);
	}

	header img {
		width: 100%;
		height: auto;
		filter: blur(2px);
	}
</style>
