{% extends 'base.html' %}
{% load static %}

{% block h1 %}
<h1>Nuestros productos</h1>


{% endblock %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/flanes.css' %}">
<div class="container my-5">
    <div id="products">
        {% for flan in flanes %}
        <div>
            <div class="card" style="width: 18rem;">
                <img src="{{ flan.image_url }}" class="card-img-top" alt="{{ flan.name }}" />
                <div class="card-body">
                    <h5 class="card-title">{{ flan.name }}</h5>
                    <p class="card-text">{{ flan.description }}</p>
                    <!-- Botón 'Leer más' -->
                    <button class="btn btn-link read-more">Leer más</button>
                    <!-- Botón 'Leer menos' -->
                    <button class="btn btn-link read-less">Leer menos</button>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

<!-- Asegúrate de que el archivo JavaScript se cargue correctamente -->
<script src="{% static 'js/flanes.js' %}"></script>
{% endblock %}
