<nav class="navbar navbar-expand-sm">
	<div class="container-fluid">
		<ul class="navbar-nav">
			<li class="nav-item">
				<a class="nav-link" href="#">Indice</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="#">Bienvenido</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="#">Acerca de</a>
			</li>
		</ul>
	</div>
</nav>

<style>
	.container-fluid {
		background-color: darkslategray;
	}

	a {
		color: white !important;
		font-size: large !important;
	}

	a:hover {
        color:darkslategrey;
    }

	li {
		padding-inline: 20px;
		padding-block: 10px;
	}
	
	li:hover {
		background-color: var(--celeste)
	}
</style>
