<nav class="navbar navbar-expand-md">
	<div class="container container-navbar">
		<h1>
			<a id="navbar-brand" class="navbar-brand text-light" href="#"></a>
		</h1>

		<button
			class="navbar-toggler btn-navbar border border-1 text-white-50"
			type="button"
			data-bs-toggle="collapse"
			data-bs-target="#collapsibleNavbar">
			<span class="fa fa-bars text-white"></span>
		</button>

		<div class="collapse navbar-collapse" id="collapsibleNavbar">
			<div
				id="nav-2"
				class="d-flex flex-md-row justify-content-md-between flex-sm-column align-items-sm-start">
				<div>
					<ul id="ul-1" class="navbar-nav">
						<li class="nav-item">
							<a class="nav-link" href="{% url 'index' %}">Indice</a>
						</li>
						{% if user.is_authenticated %}
						<li class="nav-item">
							<a class="nav-link" href="{% url 'welcome' %}">Bienvenido</a>
						</li>
						{% endif %}
						<li class="nav-item">
							<a class="nav-link" href="{% url 'about' %}">Acerca de</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="{% url 'contacto' %}">Contacto</a>
						</li>
					</ul>
				</div>
				<div id="caja-botones">
					<ul class="navbar-nav">
						<li>
							{% if not user.is_authenticated %}<a href="{% url 'login' %}">
								<button
									type="button"
									class="btn btn-auth btn-outline-info border border-info">
									Log in
								</button>
							</a>
							{% endif %}
						</li>
						<li>
							{% if user.is_authenticated %}
							<form method="POST" action="{% url 'logout' %}">
								{% csrf_token %}
								<button
									type="submit"
									class="btn btn-auth btn-outline-info border border-info">
									Log out
								</button>
							</form>
							{% endif %}
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</nav>

<style>
	.container-navbar {
		background-color: darkslategray;
	}

	a {
		color: white !important;
		font-size: large !important;
	}

	a:hover {
		color: darkslategrey;
	}

	li {
		padding-inline: 20px;
	}

	#ul-1 li:hover {
		/* Estilos para el hover */
		background-color: var(--celeste);
	}

	#caja-botones {
		float: right;
		position: absolute;
		right: 10px; /*ok*/
		border: none;
	}

	.nav-link {
		font-size: 18px;
	}

	.btn-auth :hover {
		color: white;
	}

	@media only screen and (max-width: 768px) {
		nav-link {
			font-size: 16px;
		}

		#caja-botones {
			position: static;
		}

		#nav-2 {
			flex-direction: column;
			align-items: start;
		}

		/*botones de login y logout*/
		.btn-auth {  
			margin-top: 10px;
		}
	}
</style>
