{% load static %}
<!-- #################################################################################### -->

<nav class="navbar navbar-expand-lg bg-transparent">
	<div class="container-fluid">
		<a class="navbar-brand" href="{% url 'logo_onlyflans_redirect'%}"></a>
		<button
			class="navbar-toggler"
			type="button"
			data-bs-toggle="collapse"
			data-bs-target="#navbarNav"
			aria-controls="navbarNav"
			aria-expanded="false"
			aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarNav">
			<ul class="navbar-nav me-auto mb-2 mb-lg-0">
				<li class="nav-item">
					<a
						class="nav-link active"
						aria-current="page"
						href="{% url 'index' %}"
						>Home</a
					>
				</li>
				{% if user.is_authenticated %}
				<li class="nav-item">
					<a class="nav-link" href="{% url 'welcome' %}">Bienvenido</a>
				</li>
				{% endif %}
				<li class="nav-item dropdown">
					<a
						class="nav-link dropdown-toggle"
						href="#"
						id="navbarDropdown"
						role="button"
						data-bs-toggle="dropdown"
						aria-expanded="false">
						Nuestros Productos
					</a>
					<ul class="dropdown-menu" aria-labelledby="navbarDropdown">
						<li>
							<a class="dropdown-item" href="{% url 'index' %}"
								>Flanes Onlyflans</a
							>
							<li><hr class="dropdown-divider" /></li>
						</li>
						<li>
							<a class="dropdown-item" href="{% url 'delicias' %}"
								>Delicias del Sur</a
							>
						</li>
						<li>
							<a class="dropdown-item" href="{% url 'coffee' %}">Cafetería</a>
						</li>
						<li>
							<a href=""></a>
						</li>
					</ul>
				</li>
				<li class="nav-item dropdown">
					<a
						class="nav-link dropdown-toggle"
						href="#"
						role="button"
						data-bs-toggle="dropdown"
						aria-expanded="false">
						Nosotros
					</a>
					<ul class="dropdown-menu">
						<li><a class="dropdown-item" href="{% url 'about' %}">Quienes Somos</a></li>
						<li><a class="dropdown-item" href="{% url 'contacto' %}">Contacto</a></li>
						<li><hr class="dropdown-divider" /></li>
						
					</ul>
				</li>
			</ul>

			<ul class="navbar-nav ms-auto mb-2 mb-lg-0">
				<li class="nav-item nav-fa-brands">
					<a class="nav-link" href="{% url 'facebook_redirect' %}" target="_blank"
						><i class="fa-brands fa-facebook"></i
					></a>
				</li>
				<li class="nav-item nav-fa-brands">
					<a
						class="nav-link"
						href="{% url 'twitter_redirect' %}" target="_blank"
						><i class="fa-brands fa-twitter"></i
					></a>
				</li>
				<li class="nav-item nav-fa-brands">
					<a
						class="nav-link"
						href="{% url 'instagram_redirect' %}" target="_blank"
						><i class="fa-brands fa-instagram"></i
					></a>
				</li>
				<!-- <li class="nav-item">
					<a class="nav-link" href="{% url 'login' %}">Login</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="{% url 'logout' %}">Logout</a>
				</li> -->
				<li>
					{% if not user.is_authenticated %}<a href="{% url 'login' %}">
						<button type="button" class="btn btn-auth text-white">Login</button>
					</a>
					{% endif %}
				</li>
				<li>
					{% if user.is_authenticated %}
					<form method="POST" action="{% url 'logout' %}">
						{% csrf_token %}
						<button type="submit" class="btn btn-auth text-bg-light">
							Logout
						</button>
					</form>
					{% endif %}
				</li>
			</ul>
		</div>
	</div>
</nav>

<style>
	.container-navbar {
		background-color: darkslategray;
	}

	a {
		color: white !important;
		font-size: large !important;
	}

	a:hover {
		color: darkslategrey;
	}

	li {
		padding-inline: 3px;
	}

	#ul-1 li:hover {
		/* Estilos para el hover */
		background-color: var(--celeste);
	}

	#caja-botones {
		float: right;
		position: absolute;
		right: 10px; /*ok*/
		border: none;
	}

	.nav-link {
		font-size: 18px;
	}

	.btn-auth :hover {
		color: white;
	}

	.navbar-toggler {
		border-color: rgba(
			255,
			255,
			255,
			0.5
		); /* Cambia el color del borde del botón */
	}

	.navbar-toggler-icon {
		background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
		/* Cambia el color del ícono a blanco */
	}

	.navbar-toggler:focus {
		outline: none;
		box-shadow: 0 0 0 0.25rem rgba(255, 255, 255, 0.5); /* Cambia el resplandor a blanco */
	}

	.dropdown-menu {
		background: steelblue;
	}


	.nav-fa-brands{
		display:none;
	}

	@media only screen and (max-width: 768px) {
		nav-link {
			font-size: 16px;
		}

		#caja-botones {
			position: static;
		}

		#nav-2 {
			flex-direction: column;
			align-items: start;
		}

		/*botones de login y logout*/
		.btn-auth {
			margin-top: 10px;
		}

		
	}
</style>
