{% extends 'base.html' %}
{% load static%}

{% block h1 %}

<!-- <img id='user' src="{% static '/img/user.svg' %}" alt=""><br> -->
{% if user.is_authenticated %}
<h1>Hola {{ user.get_username | title }} !</h1>
<p style="color: var(--celeste)">Tenemos una lista de productos exclusivos para ti.
Contáctanos.</p>




{% endif %}
{% endblock %}


{% block content %}

<link rel="stylesheet" href="{% static '/css/flanes.css' %}">
<div class="container my-5">
	<div id="products">
		{% for flan in flanes %}
		<div>
			<div class="card" style="width: 18rem;">
				<img
					src="{{ flan.image_url }}"
					class="card-img-top"
					alt="{{ flan.name }}" />
				<div class="card-body">
					<h5 class="card-title">{{ flan.name }}</h5>
					<p class="card-text">{{ flan.description }}</p>
					<!-- boton 'ver más' -->
					<button class="btn btn-link read-more">Leer más</button>
					<!-- boton 'ver menos' -->
					<button class="btn btn-link read-less">Leer menos</button>
				</div>
			</div>
		</div>
		{% endfor %}
	</div>
</div>


<script src="{% static '/js/flanes.js' %}"></script>


{% endblock %}
